DEVIN_API_KEY=
DEVIN_ORG_ID=

GITHUB_TOKEN=
GITHUB_OWNER=csanichar
GITHUB_REPO=cognition
GITHUB_WEBHOOK_SECRET=

TARGET_REPO_URL=https://github.com/csanichar/cognition
TARGET_BASE_BRANCH=adopt-pr-26389-fix-charts-in-scope
